$font-pacifico: 'Pacifico', cursive;
$font-raleway: 'Raleway', sans-serif;
$shadow: 2px 10px 9px rgba(0, 0, 0, 0.2);
$main-text: rgb(38, 38, 38);

@mixin block {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right 30px;
    font-family: $font-raleway;
    font-weight: bold;
    color: $main-text;
    font-size: 20px;
}

@mixin navigation {
    font-family: $font-pacifico;
    font-size: 50px;
    height: 150px;
    color: $main-text;
    padding-left: 100px;
    padding-top: 27.5px;
}

@mixin getfree {
    font-family: $font-raleway;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    background-color: rgb(255, 96, 51);
    padding: 16px 24px;
    border-style: none;
    box-shadow: $shadow;
}