.bg7-image {
    background-image: url("../images/contact-bg.jpg");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.bg7-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20vw;
}