.bg6 {
    background-color: rgb(176, 124, 247);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.photos > img {
    margin: 30px;
}

.bg6 > h2 {
    font-family: $font-raleway;
    font-weight: bold;
    color: white;
    font-size: 90px;
    margin-bottom: 32px;
    text-align: center;
}

.bg6 > p {
    font-family: $font-raleway;
    font-weight: lighter;
    color: white;
    font-size: 17px;
    margin-bottom: 48px;
    width: 50vw;
    margin: auto;
}

.button-view2 {
    display: flex;
    justify-content: center;
}

.viewmore2 {
    font-family: $font-raleway;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    background-color: rgb(247, 43, 59);
    padding: 16px 24px;
    border-style: none;
    box-shadow: $shadow;
    margin-bottom: 90px;
}